@font-face {
  font-family: mangsi;
  src: url(Mangsi.otf);
}

body {
  background: linear-gradient(to bottom, #f5efeb, #d8e7f3);
  font-family: mangsi;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  color: #f5efeb;
  background-color: #2f4156;
  padding: 20px 0;
  border-bottom: 5px solid #233242;
}

.home-icon {
  position: absolute; 
  top: 60px; 
  right: 30px; 
  text-decoration: none; 
}

.home {
  width: 30px;
  height: auto;
  transition: transform 0.3s ease-in-out; 
}

.home:hover {
  transform: scale(1.1);
}

.logo {
  position: absolute;
  top: 38px;
  left: 10px;
}

.logo img {
  width: 70px;
  height: auto;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

#search-input {
  width: 60%;
  max-width: 500px;
  padding: 10px 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 18px;
  color: #333;
}

#search-button {
  padding: 10px 20px;
  background-color: #2f4156;
  font-family: mangsi;
  color: white;
  border: none;
  font-size: 18px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  margin-left: 10px;
}

#search-button:hover {
  background-color: #4c6683;
}

#suggestions {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr)); 
  gap: 20px;
  justify-content: center; 
  max-width: 1200px; 
  margin: 20px auto;
  padding: 20px;
}

#sugg {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

#sugg img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

#sugg a {
  padding: 10px;
  display: block;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

#sugg:hover img {
  transform: scale(1.05);
}

#sugg:hover a {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
  
}

.search-result {
  width: calc(30% - 20px);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #fff;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.search-result img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.search-result:hover img {
  transform: scale(1.05);
}

.search-result a {
  padding: 10px;
  display: block;
  color: #333;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.search-result:hover a {
  background-color: rgba(0, 0, 0, 0.1);
}

#show-more-button {
  background-color: #2f4156;
  border: none;
  color: #f5efeb;
  font-family: mangsi;
  padding: 10px 20px;
  margin: 20px auto;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: none;
}

#show-more-button:hover {
  background-color: #4c6683;
}

.footer {
  background-color: #2f4156;
  color: #f5efeb;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}

.footer a {
  color: #9ec6e4;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .search-result {
      width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  #search-input {
      margin-bottom: 10px;
      width: 85%;
  }
  h1{
    font-size: 30px;
    padding: 30px 0;
  }

  .home {
    width: 24px;
    height: auto;
    transition: transform 0.3s ease-in-out; 
  }

  .logo img {
    width: 60px;
    height: auto;
  }

  #suggestions {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr)); 
    gap: 20px;
    justify-content: center; 
    max-width: 1200px; 
    margin: 20px auto;
    padding: 20px;
  }
}
